<launch>

    <node pkg="multilayer" name="pointcloud_multilayer_node" type="pointcloud_multilayer_node" output="screen">

        <!-- <remap from="/odom" to="/aft_mapped_to_init"/>
        <remap from="/pointcloud" to="/livox/pointcloud2"/> -->

        <remap from="/odom" to="/odom_pose"/>
        <remap from="/pointcloud" to="/velodyne_points"/>

        <param name="frame_id" value="map" type="string"/>
        <param name="child_frame_id" value="base_link" type="string"/>

        <param name="/paramfile/path" value="$(find multilayer)/config/pointcloud_multilayer_map.yaml" type="string"/>

    </node>

    <node pkg="multilayer" name="local_gridmap_node" type="local_map_visualizer_node" output="screen">
        <param name="frame_id" value="camera_init" type="string"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multilayer)/launch/local.rviz" required="true" />

</launch>
